TOKEN=
BASE_URL=http://frontend.niffler.dc/
BASE_AUTH_URL=http://auth.niffler.dc:9000/
API_BASE_URL=http://gateway.niffler.dc:8090/api/
TEST_LOGIN=asd
TEST_PASSWORD=asd
DB_URL=postgresql://postgres:secret@localhost:5432/niffler-spend
AUTH_SECRET=